

.quote-text{
    font-size: 36px;
    font-weight: normal;
}

.vision-title{
    font-size: 24px;
    font-weight: bold;
}

.vision-left-text{
    font-size: 36px;
    font-weight: normal;
    float: left;
}

.vision-right-text{
    font-size: 24px;
    font-weight: normal;
    float: right;
}

.visual-visual-element-left{
    height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    float: left;
}

.visual-right-text{
    font-size: 30px;
    font-weight: normal;
    float: right;
}

.mission-visual-left{
    height: 370px;
    width: 370px;
    background-color: #010101;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.mission-title-right{
    font-size: 30px;
    font-weight: normal;
    float: right;
}

.mission-text-right{
    font-size: 30px;
    font-weight: normal;
    float: right;
}

.message-text{
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}


@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes revealLine {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}

@keyframes typeIt {
    0% {
        top: 0;
        height: 2em;
    }

    100% {
        top: -60em;
        height: 82em;
    }
}