form {
  padding-top: 25px;
}

.logo > * {
  margin-left: -2px;
  font-weight: 700;
  display: inline-block;
  animation-name: appear;
  animation-duration: .01s;
  animation-fill-mode: both;
}

  .logo > *:nth-of-type(1) {
      animation-delay: 1s
  }

  .logo > *:nth-of-type(2) {
      animation-delay: 1.2s
  }

  .logo > *:nth-of-type(3) {
      animation-delay: 1.5s
  }

  .logo > *:nth-of-type(4) {
      animation-delay: 1.7s
  }

  .logo > *:nth-of-type(5) {
      animation-delay: 1.9s
  }


  .logo > *:nth-of-type(6) {
      animation-delay: 2.1s
  }


  .logo > *:nth-of-type(7) {
      animation-delay: 2.3s
  }

  .logo > *:nth-of-type(8) {
      animation-delay: 2.5s
  }

  .logo > *:nth-of-type(9) {
      animation-delay: 2.7s
  }

  .logo > *:nth-of-type(10) {
      animation-delay: 2.9s
  }

@keyframes appear {
  from {
      font-size: 0em;
  }

  to {
      font-size: 1em;
  }
}

.blink {
  font-size: 1.5em;
  font-weight: 400;
  display: inline-block;
  visibility: visible;
  width: auto;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: 5;
}

@keyframes flash {
  0% {
      opacity: 0;
  }

  25% {
      opacity: 1;
  }

  75% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}
