.main-title {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
} 
.title-description {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 50px;
}

.category {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight:bold;
    font-weight: normal;
    display:inline-block;
    padding-right: 20px;
}

.categoryNotClicked {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    display:inline-block;
    padding-right: 20px;    

}

.question {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 10px;
    font-weight: bold;
}

.questiontext {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 40px;
}
