.padding-left-48 {
  padding-left: 4.8rem;
}

.supportTitle {
  font-family: 'Lato', sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  padding-bottom: 3.4rem;
  color: black;
}

.missionStatement {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 2.8rem;
  font-weight: normal;
  width: 80%;
  padding-bottom: 7rem;
}

