.padding-left-48 {
  padding-left: 4.5rem;
}

.supportTitle {
  font-family: 'Lato', sans-serif;
  font-size: 3.9rem;
  font-weight: bold;
  padding-bottom: 2rem;
  color: black;
}

.missionStatement {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 2.6rem;
  font-weight: normal;
  width: 80%;
  padding-bottom: 5rem;
  line-height: 3.6rem;
  word-spacing: .21rem;
}

.donateSelectStatement {
  font-size: 1.8rem;
word-spacing: .05rem;
}

.amountInput {
  margin-top: 3.2rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.amountDisplay {
  font-size: 2.2rem;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



.cardelement {
  border: 2px solid rgb(207, 207, 207);
  padding: .5rem;
  border-radius: .5rem;
  width: 40%;
}





.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #017094;
  }

  100% {
    stroke: #017094;
  }
}

@keyframes colors {
  0% {
    stroke: #017094;
  }

  100% {
    stroke: #017094;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}