.padding-left-48 {
  padding-left: 4.5rem;
}

.supportTitle {
  font-family: 'Lato', sans-serif;
  font-size: 3.9rem;
  font-weight: bold;
  padding-bottom: 2rem;
  color: black;
}

.missionStatement {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 2.6rem;
  font-weight: normal;
  width: 80%;
  padding-bottom: 5rem;
  line-height: 3.6rem;
  word-spacing: .21rem;
}

.donateSelectStatement {
  font-size: 1.8rem;
word-spacing: .05rem;
}

.amountInput {
  margin-top: 3.2rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.amountDisplay {
  font-size: 2.2rem;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

